.button {
    margin: 7.5px;
    padding: 15px;
    font-size: 120%;
    border: none;
    min-width: 120px;
    max-height: 100%;
}

.button:hover {
    cursor: pointer;
}

.btn-confirm {
    color: rgba(168, 220, 77, 1);
    background-color: rgba(62, 75, 40, 1);
}

.btn-warning {
    color: rgba(220, 77, 77, 1);
    background-color: rgba(75, 40, 40, 1);
}

.btn-secondary {
    color: rgba(204, 195, 186, 1);
    background-color: rgba(86, 83, 78, 1);
}

.btn-info {
    color: rgba(65, 156, 219, 1);
    background-color: rgba(26, 61, 88, 1);
}

.title {
    color: #ffffff;
    font-size: 250%;
}

.title:hover {
    cursor: pointer;
    color: #c0c0c0;
}

.subtitle {
    color: #ffffff;
    font-size: 150%
}

.no-hover:hover {
    cursor: default;
    color: #ffffff;
}

.disabled {
    color: #6c757d;
}

.disabled:hover {
    cursor: default;
    color: #6c757d;
}