body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 2.5%;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.footer a {
    text-decoration: none;
    color: #A8DC4D;
}

#background {
    background: url(../img/background-image.jpg) no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

#background-gradient {
    width: 100vw;
    height: 100vh;
    background: rgb(35,36,32);
    background: radial-gradient(circle, rgba(35,36,32,0.9) 0%, rgba(36,35,28,0.99) 100%);
}

.controls {
    margin-left: 5%;
    width: 400px;
}

.controls img {
    width: 400px;
}

.controls h1 {
    color: #ffffff;
    font-size: 250%;
}

.controls-top {
    padding-top: 5vh;
}

.controls-top h1{
    padding-left: 10px;
}

.controls-bottom {
    margin-top: 40%;
}

.controls-bottom * {
    margin-top: 10px;
}

.controls-bottom *:last-child {
    padding-top: 0px;
}

.controls-bottom h1:hover {
    cursor: pointer;
}

#credits {
    margin-top: 40%;
}

/* media query for screens less than 1080p to make controls margins-top go away */