:root {
    --navbar-width: 76px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#background {
    background: url(../img/background-image.jpg) no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

#background-gradient {
    width: 100vw;
    height: 100vh;
    background: rgb(35,36,32);
    background: radial-gradient(circle, rgba(35,36,32,0.9) 0%, rgba(36,35,28,0.99) 100%);
}

.controls {
    margin-left: 5%;
    width: 400px;
}

.controls img {
    width: 400px;
}

.controls h1 {
    color: #ffffff;
    font-size: 250%;
}

.controls-top {
    padding-top: 5vh;
}

.controls-top h1{
    padding-left: 10px;
}

.controls-bottom {
    margin-top: 40%;
}

.controls-bottom * {
    margin-top: 10px;
}

.controls-bottom *:last-child {
    padding-top: 0px;
}

.controls-bottom h1:hover {
    cursor: pointer;
    color: #c5c5c5;
}

#credits {
    margin-top: 40%; /* push a bit lower than the rest of buttons */
}

.paint {
    position: absolute;
    top: 15vh;
    right: var(--navbar-width);
    width: 75vw;
    height: 85vh;
}

.paint-mask {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    mask-image: url(../img/paint-brush-stroke-mask.png) ;
    mask-size: 100%, 100%;
    mask-repeat: no-repeat;
    background-color: rgba(28, 33, 27, 1);
}

.paint-mask img {
    width: 100%;
    height: 99%;
    overflow: hidden;
}

.nav {
    width: var(--navbar-width);
    height: 100vh;
    padding-left: 6px;
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(86, 83, 68, 0.35);
    /* 565344 95% */
}

.nav-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;

}

.nav-top a {
    width: 64px;
    margin-top: 2vh;
}

.nav-top a:first-child {
    margin-top: 6px;
}

.nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
}

.nav-bottom a {
    width: 64px;
    margin-bottom: 2vh;
}

.nav-bottom a:last-child {
    margin-bottom: 6px;
}

.footer {
    position: absolute;
    bottom: 2.5%;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.footer a {
    text-decoration: none;
    color: rgba(168, 220, 77, 1);
}
/* media query for screens less than 1080p to make controls margins-top go away */

@media screen and (max-width:1000px) {
    .nav {
        display: none;
    }
    .paint {
        display: none;
    }
}